# You can optionally pin to a version of the Runway Model SDK like: "runway-python==0.1.0"
runway-python
Pillow==6.0.0
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
